
body
{
    background-color: pink;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    position: fixed;
    top: 0px;
    background-color: rgb(61, 63, 61, 0.8);
    height: 80px;
    width: 1900px;
    min-height: 80px;
    overflow: hidden;
    margin: 0px;
    padding: 20px 20px 10px 250px;
}

header img
{
    float: left;                                                                                                                                                                                                                                                                        
}

header ul
{
    float: left;
    padding: 5px;
    margin-left: 500px;
}

header li
{
    display: inline;
    color: grey;
    font-size: 20px;
}

header a:link, a:visited
{
    text-decoration: none;
    color:rgb(133, 112, 112)
}

header a:hover
{
    color: rgb(102, 93, 93);
}

#content
{
    background-color: rgb(84, 87, 84);
    clear: both;
    padding-left: 150px;
    padding-right: 150px;
}

#base
{
    height: 610px;
    padding-bottom: 50px;
    border-bottom: solid rgb(128, 128, 128,0.4);;
}

img#background
{
    float: left;
}

#paragraph
{
    float: left;  
    text-align: justify;
    width: 400px;

    padding: 20px;
    margin: 100px 10px 100px 50px;
    color:  grey;
    font-weight: 100;

}

#paragraph h1
{
    text-transform: uppercase;
    position: absolute;
    left: 300px;
    font-size: 38px;
}

#paragraph a
{
    text-decoration: none;
}

#paragraph p
{
    color: rgb(211, 205, 205);
}

#more
{
    clear: both;
    position: relative;
    text-align: center;
    color: grey;
}
#more img
{

    width: 100%;
    margin: 1%;
    padding: 0.5%;
    box-shadow: inset 0px 0px 200px rgba(2, 2, 61, 0.5);

}

#more h1
{
    text-align: left;
    padding-left: 6%;
    margin-bottom: 0.5%;
    font-weight: 100;
}

.column_4
{
    display: inline-block;
    margin: 0px;
    width: 250px;
    padding: 1%;
    padding-top: 0%;
}
.column_4 p
{
    text-align: left;
    border-bottom: solid rgb(128, 128, 128,0.4);
    padding-bottom: 20px;
}

footer
{
    background-color: rgb(84, 87, 84);
    padding: 0.1px;
    text-align: center;
}
